<!doctype html>
<html lang="{{ .Lang }}">
    <head>
      {{ partial "head-meta.html" . }}
      {{ partial "css.html" . }}
      {{ partial "javascript.html" . }}
      {{ partial "opengraph.html" . }}
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {{ partial "page-header-navbar-large.html" . }}

        <div class="container-fluid">
	    <div class="row">
		<div class="content col-sm-12 order-sm-1 col-md-9 mx-md-auto order-md-12">
		    {{ block "main" .}}
		    <!-- This is where the page content redners -->
		    {{ end }}
      </div>
		<nav class="navigation col-sm-12 order-sm-12 col-md-3 order-md-1">
		    {{ partial "nav.html" . }}
		</nav>
	    </div>

            <!-- {{ partial "page-footer.html" . }} -->

        </div>


    </body>
</html>

{{ partial "navjs.html" . }}
{{ partial "analytics.html" . }}
