[submodule "themes/hugo-bootstrap-bare"]
	path = themes/hugo-bootstrap-bare
	url = https://gitlab.com/pixlsus/hugo-bootstrap-bare.git
[submodule "themes/hugo-darktable-docs-theme"]
	path = themes/hugo-darktable-docs-theme
	url = https://github.com/pixlsus/hugo-darktable-docs-theme.git
[submodule "themes/hugo-pdf-theme"]
	path = themes/hugo-pdf-theme
	url = https://gitlab.com/pixlsus/hugo-pdf-theme.git
