[submodule "themes/hugo-darktable-docs-theme"]
	path = themes/hugo-darktable-docs-theme
	url = https://github.com/pixlsus/hugo-darktable-docs-theme.git
[submodule "themes/hugo-darktable-docs-pdf-theme"]
	path = themes/hugo-darktable-docs-pdf-theme
	url = https://github.com/pixlsus/hugo-darktable-docs-pdf-theme.git
[submodule "themes/hugo-darktable-docs-epub-theme"]
	path = themes/hugo-darktable-docs-epub-theme
	url = https://github.com/pixlsus/hugo-darktable-docs-epub-theme.git
