<script>
(function($) {
  /**
   * jQuery function to scroll the viewport middle to the element.
   */
  $.fn.scrollToMiddle = function(options) {
    var settings = $.extend({
        duration: 0
    }, options );

    return this.each(function() {
      var $el = $(this);
      var elOffset = $el.offset().top;
      var elHeight = $el.height();
      var windowHeight = $(window).height();
      var offset;
      if (elHeight < windowHeight) {
        offset = elOffset - ((windowHeight / 2) - (elHeight / 2));
      }
      else {
        offset = elOffset;
      }
      $('.navigation').scrollTop(offset);
    });
  };
}(jQuery));

$('.navigation').css('opacity', '0');
 $(document).ready(function(){
     $('.parent ul').hide();
     $('.navigation').css('opacity', 1.0);
     $('.active').parents('ul').show();
     $('.active').siblings('ul').show();
     $('.active').children('i.toggle').removeClass("fa-plus-squre").addClass("fa-minus-square-o");
     $('.active').parents('li').children('.toggle').removeClass("fa-plus-square").addClass("fa-minus-square-o");
     $('.active').scrollToMiddle();

     $('.toggle').on('click', function (e) {
       e.stopPropagation();
       $(this).siblings('ul').slideToggle();

       if($(this).hasClass("fa-plus-square")) {
           $(this).addClass("fa-minus-square-o");
           $(this).removeClass("fa-plus-square");
       }
       else {
           $(this).addClass("fa-plus-square");
           $(this).removeClass("fa-minus-square-o");
       }
     });
 });

</script>
