{{ $link := string .Destination }}
{{ $imgBase := path.Base .Destination }}

{{ $classSplit := split $imgBase "#" }}

{{ if hasPrefix $link "http" }}
<img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} />
{{ else }}
<img src="{{ strings.Replace .Page.RelPermalink ".html" "/" }}{{ range first 1 $classSplit }}{{- . | safeURL -}}{{ end }}" alt="{{ .Text }}" {{ if gt (len $classSplit) 1}} class="{{ $classes := after 1 $classSplit }}{{ delimit $classes " " }}"  {{ end }} {{ with .Title}} title="{{ . }}"{{ end }} />
{{ end }}
