.section {
    .title {
	bookmark-level: 1;
    }
    .content {
	h1,
	h2,
	h3 {
	    bookmark-level: none;
	}
    }
}

.section > .section {
    .title {
	bookmark-level: 2;
    }
}

.section > .section > .section {
    .title {
	bookmark-level: 3;
    }
}

.section > .section > .section > .section {
    .title {
	bookmark-level: 4;
    }
}

.section > .section > .section > .section > .section {
    .title {
	bookmark-level: 5;
    }
}

.section > .section > .section > .section > .section > .section {
    .title {
	bookmark-level: 6;
    }
}
