// The counters for the sections and ToC are presented together to keep the numbering consistent.

// Section 1
#body > .section,
#toc-body > ul > li {
    counter-increment: section-1;
}

#body > .section > .title:before,
#toc-body > ul > li > a:before {
    content: counter(section-1) ". ";
}

// Section 2
#body > .section > .section,
#toc-body > ul > li > ul > li {
    counter-increment: section-2;
}

#body > .section > .section > .title:before,
#toc-body > ul > li > ul > li > a:before {
    content: counter(section-1) "." counter(section-2) ". ";
}

// Section 3
#body > .section > .section > .section,
#toc-body > ul > li > ul > li > ul > li {
    counter-increment: section-3;
}

#body > .section > .section > .section > .title:before,
#toc-body > ul > li > ul > li > ul > li > a:before {
    content: counter(section-1) "." counter(section-2) "." counter(section-3) ". ";
}

// Section 4
#body > .section > .section > .section > .section,
#toc-body > ul > li > ul > li > ul > li > ul > li {
    counter-increment: section-4;
}

#body > .section > .section > .section > .section > .title:before,
#toc-body > ul > li > ul > li > ul > li > ul > li > a:before {
    content: counter(section-1) "." counter(section-2) "." counter(section-3) "." counter(section-4) ". ";
}
