body, .card {
    background-color: #CECECE;
}

.content {
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 1rem;
    a {
	text-decoration: underline;
	background-color: transparent;
    }
}

@include media-breakpoint-up(md) {
    .content {
	top: 4rem;
	display: block;
	position: sticky;
	max-height: calc(100vh - 4em);
	overflow-y: auto;
	z-index: 1000;
    }
}

.next, .prev {
    display: block;
}

.next {
    text-align: left;
}

.prev {
    text-align: right;
}

.crumbs {
    margin-bottom: 0.5rem;
    text-align: center;
    .crumb {
	display: inline;
    }
}

a {
    color: #444;
}

section,article {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.search-results {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 20%;
    background-color: white;
    z-index: 1001;
    display: none;
    max-width: 100%;
    width: 450px;
    overflow-y: scroll;

    @extend .list-group;
    @extend .shadow;

    &__item {
        @extend .list-group-item;
        @extend .list-group-item-action;

        position: relative;
        display: block;
        cursor: pointer;
        line-height: 1.4rem;

        &:hover {
            text-decoration: none
        }
    }

    &__title {
        display: block;
        @extend .mb-1;
    }

    &__content {
        @extend .mb-1;

        padding: 0;
        margin: 0;
    }

    mark {
        padding: 0;
        border-bottom: 2px solid red;
    }
}
