.translation-icon {
    display: inline !important;
}

.navigation {
    padding-top: 1rem;

    ul {
	padding-left: 0px;
	list-style-type: none;
	ul {
	    padding-left: 20px;

	}
    }

}

.toggle, .no-toggle {
    width: 1rem;
}

@include media-breakpoint-up(md) {
    .navigation {
	top: 4rem;
	display: block;
	position: sticky;
	max-height: calc(100vh - 4em);
	overflow-y: auto;
	z-index: 1000;
    }
}

.active {
    font-weight: bold;
}
