@media print {

    @page { margin: 0.25in }

    body {
	background-color: #fff;
	color: #000;
    }

    .content {
	width: 100%;
	max-width: 100%;
	flex: 0 0 100%;
	margin-left: 0px;
	margin-right: 0px;
    }

    .navigation, .crumbs, .prev-next {
	display: none;
    }

    pre, code {
	padding: 10px;
	border-radius: 10px;
    }

    a {
	page-break-inside:avoid
    }
    blockquote {
	page-break-inside: avoid;
    }
    h1, h2, h3, h4, h5, h6 {
	page-break-after:avoid;
	page-break-inside:avoid
    }
    img {
	page-break-inside:avoid;
	page-break-after:avoid;
    }
    table, pre {
	page-break-inside:avoid;
    }
    ul, ol, dl {
	page-break-before:avoid;
    }

    a {
	page-break-inside:avoid;
    }

    a[href^=http]:after {
	content:" <" attr(href) "> ";
    }

    a:after > img {
	content: "";
    }

    a[href^="#"]:after {
	content: "";
    }

    a:not(:local-link):after {
	content:" <" attr(href) "> ";
    }
}
