#cover-back {
    page: cover-back;
    break-before: always;
    text-align: center;
    margin-top: 95%;
}

@page cover-front {
    @top-left-corner {
	content: none;
    }
    @top-left {
	content: none;
    }
    @top-center {
	content: none;
    }
    @top-right {
	content: none;
    }
    @top-right-corner {
	content: none;
    }

    @bottom-left-corner {
	content: none;
    }
    @bottom-left {
	content: none;
    }
    @bottom-center {
	content: none;
    }
    @bottom-right {
	content: none;
    }
    @bottom-right-corner {
	content: none;
    }
}
