img {
    display: block;
    max-width: 100%;
}

.icon {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

.inline {
    display: inline;
    vertical-align: middle;
}

.w25 {
    width: 24%;
}

.w33 {
    width: 33%;
}

.w50 {
    width: 48%;
}

.w66 {
   width: 66%;
}

.w75 {
    width: 72%;
}

.w100 {
    width: 100%;
}
