// Major Second typographical rhythm from https://type-scale.com/

html {
    font-size: 100%; /*16px*/
}

body {
    background-color: white;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    color: #333;
}

pre, code, kbd {
    font-family: 'Fira Mono', monospace;
    font-size: 0.9em;
    color: navy;
}

p {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    text-indent: 0;
}

.head1, .head2, .head3, .head4, .head5 {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

.head1 {
    font-size: 1.7em;
    margin: 0;
}

.head1.title.depth-1 {
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    font-size: 3em;
}

.head1.title.depth-2 {
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    font-size: 2.6em;
}

.head1.title.depth-3,
.head1.title.depth-4,
.head1.title.depth-5 {
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    font-size: 2.2em;
}

.head1+.head2 {
   margin-top: 0;
}

.head2 {
    font-size: 1.4em;
}

.head2+.head3 {
   margin-top: 0;
}

.head3 {

    font-size: 1.2em;
    font-style: italic;
}

.head4,
.head5,
.head6 {
    color: red;
    :before {
	content: "We only allow H1, H2, or H3 headings in body content."
    }
}

small, .text_small {
    font-size: 0.889em;
}

dd, pre {
    margin-left: 20px;
}

dt {
   margin-top: 1rem;
   font-weight: bold;
}

ul {
   margin-top: 0;
   margin-bottom: 0;
}

article ul li, 
article ul li p, 
dd p {
   margin-top: 0.7rem;
   margin-bottom: 0.7rem;
}

nav ol,
nav ol li,
nav ol li ol
{
   list-style-type: none;
   padding-left: 1em;
   margin-left: 0;
   text-indent: 0;
}

nav ol
{
   padding-left: 0em;
}

.webonly
{
   display: none;
}

hr
{
   margin-top: 1em;
   margin-bottom: 1em;
}
