name: github pages

on:
  push:
    branches:
      - master  # Set a branch to deploy

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - uses: cachix/install-nix-action@v12
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --run 'echo "Installed nix dependencies"'

      - name: Install assets
        run: nix-shell --run 'cd themes/hugo-darktable-docs-theme/assets/ && yarn install'

      - name: Build epub
        run: nix-shell --run './tools/build-epub.sh'

      - name: Clear
        run: nix-shell --run 'rm -rf public'

      - name: Build PDF
        run: nix-shell --run 'mkdir public && hugo server --disableFastRender -verbose --config config-pdf.yaml & sleep 5 && weasyprint -v http://localhost:1313/dtdocs/index.html ./public/darktable_user_manual.pdf && pkill hugo'

      - name: Run linkchecker
        run: nix-shell --run 'hugo server --disableFastRender -verbose --config config.yaml & sleep 30 && linkchecker --no-status http://localhost:1313/dtdocs/index.html && pkill hugo'

      - name: Generate translated files
        run: nix-shell --run 'cd tools && bash generate-translations.sh --no-update'

      - name: Build
        run: nix-shell --run 'hugo'

      - name: Copy epub
        run: nix-shell --run 'mv darktable_user_manual.epub public'

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          force_orphan: true
