name: Pull Request tests

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  pull-request-tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - uses: cachix/install-nix-action@v12
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --run 'echo "Installed nix dependencies"'

      - name: Install assets
        run: nix-shell --run 'cd themes/hugo-darktable-docs-theme/assets/ && yarn install'

      - name: Generate translated files
        run: nix-shell --run 'cd tools && bash generate-translations.sh --no-update'

      - name: Build epub
        run: nix-shell --run './tools/build-epub.sh'

      - name: Clear
        run: nix-shell --run 'rm -rf public'

      - name: Build
        run: nix-shell --run 'hugo'

      - name: Build PDF
        run: nix-shell --run 'hugo server --disableFastRender -verbose --config config-pdf.yaml & sleep 5 && weasyprint -v http://localhost:1313/dtdocs/index.html ./public/darktable_user_manual.pdf && pkill hugo'

      - name: Run linkchecker
        run: nix-shell --run 'hugo server --disableFastRender -verbose --config config-pdf.yaml & sleep 15 && linkchecker --no-status http://localhost:1313/dtdocs/index.html && pkill hugo'

      - name: Copy epub
        run: nix-shell --run 'mv darktable_user_manual.epub public'
