name: Pull Request tests

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.79.0'
          extended: true

      - name: npm Install
        run: cd themes/hugo-darktable-docs-theme/assets/ && npm install

      - name: Update the system
        run: sudo apt update

      - name: Build the site
        run:  hugo

      - name: Install weasyprint
        run: sudo apt install weasyprint

      - name: Build PDF
        run: hugo server --disableFastRender -verbose --config config-pdf.yaml & sleep 30 && weasyprint -v http://localhost:1313/dtdocs/index.html ./public/darktable_user_manual.pdf && pkill hugo

      - name: Start an HTTP server
        run: cd public && python -m http.server 8080 > /dev/null 2>&1 &

      - name: Install linkchecker
        run: sudo apt install python3-pip && sudo pip install LinkChecker

      - name: Run linkchecker
        run: linkchecker --check-extern --no-status http://localhost:8080/

      - name: Kill Hugo's server
        run: pkill hugo
